---
import Base from "../../layouts/Base.astro";
---
<Base title="ブログ">
  <h1 class="my-4">綿糸てせのブログ</h1>
  <ul>
    <li><a href="ubuntu-complite">PCにUbuntuを入れて快適にコンリテをやろう</a></li>
    <li><a href="kodai-fpro">電通大の基礎プログラミングの単位を高校生のうちに取ろう</a></li>
  </ul>
</Base>
