@import "./reset.css";
@import "./variables.css";

body {
  font-family: var(--font-base);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
}

main {
  max-width: 960px;
  margin: auto;
}

h2 {
  border-bottom: 2px solid var(--color-primary);
}

