@import "./reset.css";
@import "./variables.css";

body {
  transition: all 0.2s;
  font-family: var(--font-base);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.8;
}

main {
  width: 100%;
  margin: 0;
  padding: 0.8rem;
}

main > div {
  max-width: 960px;
  margin: auto;
}

main p {
  text-indent: 1rem;
  font-size: 1.1rem;
  margin: 1em 0;
}

a {
  color: var(--color-primary);
  transition: opacity 0.2s;
}

a:hover {
  opacity: 0.9;
}

main h1, main h2, main h3 {
  transition: all 0.2s;
}


main h1:hover, main h2:hover, main h3:hover {
  opacity: 0.8;
}

main h1 {
  margin: 0.8em 0;
}

main h2 {
  padding: 0.2em 0.8em;
  margin: 0.5em 0;
  border-left: 8px solid var(--color-primary);
  background: var(--color-bg-secondary);
}

main h3 {
  padding: 0.2em 0.5em;
  margin: 0.3em 0;
  border-bottom: 1px solid var(--color-primary);
}

main ul {
  list-style-type: disc;
  margin: 1em 0;
}

main li {
  font-size: 1.1rem;
  margin-left: 4em;
}

main .astro-code {
  padding: 1em 2em;
}

main code:not(pre code) {
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 0.3em;
  overflow-wrap: anywhere;
  background: var(--color-bg-secondary);
}

main blockquote {
  margin: 1em 0;
  padding: 0.3em 1em;
  color: var(--color-text-secondary);
  border-left: 5px solid var(--color-text-secondary);
  background: var(--color-bg-secondary);
}

@media screen and (max-width: 1024px) {
  main > div {
    margin: 0 1em;
  }

  main p {
    font-size: 1rem;
  }

  main li{
    font-size: 1rem;
    margin-left: 2em;
  }
}
