@charset "UTF-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, p, ul, ol {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
