---
import Base from "../layouts/Base.astro";
import ReciprocalLinks from "../components/ReciprocalLinks.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("blog");
posts.sort((a, b) => b.data.pubDate - a.data.pubDate);
---

<Base title="トップページ">
  <article class="prose dark:prose-invert max-w-full">
  <h1>綿糸てせ (@ctes091x)</h1>
  <section>
    <h2 id="about">About</h2>
    <h3>Affiliation</h3>
    <ul>
      <li>
        電気通信大学 情報理工学域 I類 (2025~)
        <ul>
          <li>SF研究会 (電気通信大学学友会準公認)</li>
          <li>MMA (電気通信大学公認)</li>
          <li>工学研究部 (電気通信大学公認)</li>
          <li>文芸・文学総合研究会 (電気通信大学公認)</li>
          <li>UEComic! 準備会 (電気通信大学学友会準公認)</li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h2>Recent Posts</h2>
    <ul>
      {posts.slice(0, 5).map(post => (!post.data.draft &&
      <li>
        <a href={`/blog/${post.slug}`}>
          {post.data.title}
        </a>
      </li>
      ))}
    </ul>
    <p><a href="blog/">View more...</a></p>
  </section>
  <section>
    <h2 id="links">Links</h2>
    <ul>
      <li>Twitter: <a href="https://twitter.com/ctes091x">@ctes091x</a></li>
      <li>GitHub: <a href="https://github.com/ctes091x">@ctes091x</a></li>
      <li>Qiita: <a href="https://qiita.com/users/ctes091x">@ctes091x</a></li>
      <li>Zenn: <a href="https://zenn.dev/ctes091x">@ctes091x</a></li>
      <li>Keybase: <a href="https://keybase.io/ctes091x">@ctes091x</a></li>
      <li>Blog: <a href="blog/">https://ctes091x.net/blog/</a></li>
    </ul>
  </section>
  <section>
    <h2>Reciprocal Links</h2>
    <ReciprocalLinks />
  </section>
  </article>
</Base>
