---
import Base from "../layouts/Base.astro";
---
<Base title="トップページ">
  <h1 class="mb-4">綿糸てせ (@ctes091x)</h1>
  <section class="mb-3">
    <h2 class="mb-3" id="about">About</h2>
    <h3 class="h4">Affiliation</h3>
    <ul>
      <li>
        電気通信大学 情報理工学域 I類 (2025~)
        <ul>
          <li>SF研究会 (電気通信大学学友会準公認)</li>
          <li>MMA (電気通信大学公認)</li>
          <li>工学研究部 (電気通信大学公認)</li>
          <li>文芸・文学総合研究会 (電気通信大学公認)</li>
          <li>UEComic! 準備会 (電気通信大学学友会準公認)</li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="mb-3">
    <h2 class="mb-3" id="links">Links</h2>
    <ul>
      <li>Twitter: <a href="https://twitter.com/ctes091x">@ctes091x</a></li>
      <li>GitHub: <a href="https://github.com/ctes091x">@ctes091x</a></li>
      <li>Qiita: <a href="https://qiita.com/users/ctes091x">@ctes091x</a></li>
      <li>Zenn: <a href="https://zenn.dev/ctes091x">@ctes091x</a></li>
      <li>Keybase: <a href="https://keybase.io/ctes091x">@ctes091x</a></li>
      <li>Blog: <a href="blog/">https://ctes091x.net/blog/</a></li>
    </ul>
  </section>
  <section class="mb-3">
    <h2 class="mb-3">Reciprocal Links</h2>
    <ul>
      <li><a href="https://shiori-02-14.github.io/Homepage/">しおり🔖</a></li>
      <li><a href="https://memo.shibadogcap.com/">柴犬被り</a></li>
      <li><a href="https://toramutton.me/">トラマト</a></li>
      <li><a href="https://thunfasky.com/">ThunFasky</a></li>
      <li><a href="https://cotton7.me/">こっとん</a></li>
    </ul>
  </section>
  <section class="mb-3">
    <h2 class="mb-3">PGP Keys</h2>
    <div class="card w-50">
      <div class="card-body">
        <h3 class="card-title">Keybase Primary Key</h3>
        <div class="card-text">
          <dl>
            <dt>E-mail address</dt><dd><code>ctes091x AT FUCK SPAMS mma DOT club DOT uec DOT ac DOT jp</code></dd>
            <dt>Fingerprint</dt><dd><code>EF58 ABE7 1110 05C7 143D ED95 DDCB DF29 2184 5B00</code>
          </dl>
        </div>
        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#keybase-primary-key">
          Show / Hide
        </button>
        <div class="collapse" id="keybase-primary-key">
          <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGgwMR0BEADvVBi2TjMjXiLgQy4z7t3EV2k3tPdlMZVMASQ7cHPXHn4p86Bv
awRLTA+946clqsNF89DUr6Su7gsxZedus75Paw9xktA9Am/JRkmSMPdchOlKgHJ3
6GGy4Pe0YqKohpCtofN+f8NJOxV97lNTaCsqh7zLR8Qn37ncmrmZYTdf2XCieQJl
v/WQeD64SOfQDoHAn4gZWE7b/Px2EENYEoM5nn0w3TIl1xTKF4w0WPBByNDU5a2u
EHTmkF4IOFftphHnlmg2xf9ISoDD+0FsHrWdxV4gXplLIIig1vls+8arpVbT/z+Q
7C6fuM18LaMpq/YmIH6JngU7EQYjcmo/uMLIxHsHRZI2VKn3tijuK3hsNUhapFhg
edwGY1b8D7Ff8Eu01ssj8yZYKVga3lMxhbRMcjVq7RxU8O8+ZTwJU28mqH/dh7x6
nRLrf4FPqy1O6a2uOcrLnLDc8Tcmxvcq5NRl4y8LqK27FgTG3FnkZRUEaBBcTaDs
haPTiiuHr/swEHnZclr0vtNd9n1iWYxSwzRmpjI9gSt3tl2jO+eF2hMopFvj20by
4J9oj/HQiX0/i7fewTUyjYm5OUeq/TdghT97B2sJWY0fsMZsLo9A/Y8bif4t9DHV
LJWAa52/YKpU/uvZcjdWy8LWIeZb4pEbihsEMn7oB1wP5YUHtwycLZnm1QARAQAB
tCZjdGVzMDkxeCA8Y3RlczA5MXhAbW1hLmNsdWIudWVjLmFjLmpwPokCSQQTAQoA
MwIbAxYhBO9Yq+cREAXHFD3tld3L3ykhhFsABQJomtRNBQsHCQMCBRUICgIDAxYB
AgIeBAAKCRDdy98pIYRbAEEqEAC+NrnpgPxVWXjqoUe+ZXyTg4L78gi3T0WGMWKX
TWfWAVl5eavTx0JrSmTzcXha89OpuGujeOJTexzx4qvmiAKeY5b/rmRUoPwzmeOQ
mAhZEdpcjl2uGs5CLR1R76X91A5bcv/bgi79Ru8TfN4BZHHN/UZ+OjMPaZ9Qbfz4
JDL/uV14IC2FBYTc9G+Ook9Ftqb6u/SwO9Iel3jbFK3cBIK0Q/cBZD0GMlD7x/6t
5gHJwuYVerRrpMaY/3hQ34S5LdHKSaPYe9ChBxzqKoiAiIP4cuj1DlPE6lWYdWwb
395v0kN6gH/s47Ps6M0jpkHgdF59zU+iX2MQ9D/hZpBLGVXxLAEpSFFAHvJDwQTe
fgcMnXC85YXr4VDD+cnj1JFY2LzyaZh3HiRrF/Vbyo32oXpOIdciJq8Et0yFqpdx
gWKnn4enbw5xBr4S0DkGWT0mTFeEgwlNV1OPb59mWqtK0T/715D24Zb8IJk8Oz2Y
HXufoA0j4f3GQbXcGfxQhLuMZM8GMdNrqHk/IvSZjcZgWXB5pAWv65aN29iyeaet
h0eV/927tRUAXssGx8og0NqLkn/sqR5nng8D+w/HY6vSUmPbJTzyC1Y2eK1wptEd
mE501A7ameG7VOT2mqxP4IoddA0oguSUeiJs43z/g+NwAk7sOpU2uVG9EE/MJcA5
FmRLE7kCDQRoMDEdARAAtBGVSPco15w3P/P5DiuntHjZR0llMo3LvL6r4BhwUGk0
dNMf8JqvnQ9BnFJ2pmoxklCSJg03U9VeO/sY8AFtjBZIijACSqoifKOP3TIWVRNX
jk3GaMViagvf6NBoS7bhPpL6ZLkx6NNUOMsf1SupJmmrp/TIq9kLx8x7cTU6zj9I
2d9vMlF/DhSwgSJU8SFDPLjO3wipkEcqPf5mHptb1Y8ecrERJ4fkDLlDSTQ2Cl7v
UvqjRiZoSjJKVqrPs1/TUAKGr3ZNIU4mTGn46lf0ynly9pCvHdJeDEnvjnRGlsX5
OC4usOAkIylJjcrHRG5X83nb7R37F6xf95mOJ/oB+rIEdEpVMRXkTfJgfltVXQYv
uA1S1CNc5f2Et2giON/bu6b7mRaQtpqBY66ffJns6U8LHOpLxHrdJ8diHqSnB9CW
APoUEbvLyEHMg53YqGLJJyiWyK3B9LjStSb0/Q8EqTouSg3MI5B/oem3GkARdSXY
WBESzBDV7XFsyjpS3uA3dQ66+E35hJMAU9gXV2MW+RTrcu+UsTkW7L5ZmTiJD9Wx
X7qsnTed3qnB0iFmrLiCHRxD/FNocBvtXpjqbU2bnxkO/1Yrn44PeKldH6RQRn7v
b7hg4+TmZVaM0YI0Ew5KPSw/0QxEW27Aj5aXF7KnOPkRSvfamdE5XtgznjSwnhkA
EQEAAYkCNgQYAQoAIBYhBO9Yq+cREAXHFD3tld3L3ykhhFsABQJoMDEdAhsMAAoJ
EN3L3ykhhFsAkUsQAKnV8cA0R8+bny8FaPazYQ8stTq6dcdCS6ccm0okez4ECU50
Lnqtou6/gcGHKl5ST2AUtOxa7+WxjxQxM+r35YPSwmsqrNIQRJR5UbfgfWrdDGDt
TnsdUlmMRgWKrbqjUHzKsuJHYu3PdQVUAoIJb9+Iljp27kDeT6D9hLLp3op+6FTO
fXZxxTz9NUCcr3ywzk1NBY9/WsYMwJAkNHcQDnflb9HzylEjep6Lcc0CQI5gW1gs
futM7e9C0xIYo/QwFDrEsUOWzpr/450e7okVGYQVrVZN1IbvLDEU6oOrBn/f6B6W
NNlOuQaXS2loUHkierjlcOicIhvSqA31JUyd9WqmwdtJQBaORokEyvsWa2xtkSAu
eu+9Z5p5/GLY73Nm08WhoE6ZdurE9fUlvC75sGDosnFojqoUwNdzcHVXWbY3cBNE
//JBoFgKNDm9L8AF9IYLT74uTiuQEzA/SEXENmZdrMP8oY4ebeSnUfKXJ2Ue+ARx
8NMTbsnKH4HPdTd5AN/GHH1by3dDjRExYNb7JOABKhw1GRrdpjns3X/fvuyFb+eN
rInPV0Bi7IBKi3ksgMb0PnllSOdoX+6vmZYLAacnrcnvqHtH+INNLBgh9P9uP2eS
jXrAXam2kkFexSIsa7uKJ+a+WZL/7+kdc7OYYhvfujxAPyvR4WMnSigEicWv
=tU7i
-----END PGP PUBLIC KEY BLOCK-----
          </pre>
        </div>
      </div>
    </div>
    <div class="card w-50 my-2">
      <div class="card-body">
        <h3 class="card-title">Keybase Secondary Key</h3>
        <div class="card-text">
          <dl>
            <dt>E-mail address</dt><dd><code>ctes091x AT FUCK SPAMS ctes091x DOT net</code></dd>
            <dt>Fingerprint</dt><dd><code>7CE8 3486 70FE FC38 B623 3EC0 68BA 078E AA9D CE0D</code>
          </dl>
        </div>
        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#keybase-secondary-key">
          Show / Hide
        </button>
        <div class="collapse" id="keybase-secondary-key">
          <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBGlRQvABDADGXj3ElFmGGCt2w7DA6dDRfSD3RASFnJ22QTFGmz5jBHPkDHgi
jVXgjLq84WVwoA8qJvvUxbDig84yXqajllojjPqge/9WbECVFBntDt9r6TZD3lDk
MyrrtLnwePPPDLXlaWqXOLyg5U61R+U18WVpm1yXvt1kyWnTf9wI8MwdZ3kEH1RW
n5lUbdBqAdeM8sRZVIyHte8yhDzDtANKSK4zZTvPl3YDjX2TRU9iC53hByiZVxS+
pGDfKQg6F4i07wFxxRtUWDo/08zh6KquI3banRrVE7cBSCTGt1SNQgHkXCfetU8K
txEy1ChAGZ/ADhXUfyVMM6vUx715b97YhMuAVJukyBUpDMrMEbvFldGtnx4OTS6I
rcK1322+hlOHWl69kiGw+ibd1fVuB+2tj8R2n9f4reMNlm7sbNhtpDaxcXV2Ndko
4qqxouUn4bXuUrcj1EMKy3+o/+t+HZETwR3GdPxQL1pHZPnk+vF5bGq7rWp1uyhk
we5Rcp/NsE5gL+cAEQEAAbQgY3RlczA5MXggPGN0ZXMwOTF4QGN0ZXMwOTF4Lm5l
dD6JAc4EEwEKADgWIQR86DSGcP78OLYjPsBougeOqp3ODQUCaVFC8AIbAwULCQgH
AgYVCgkICwIEFgIDAQIeAQIXgAAKCRBougeOqp3ODbn9DACQMpjdlKAGTedXhvY6
YM5YOghGwOGsjalMcGjN0gGa6r0GWlSJmMXTR4kv9r/zyuxmBPxXssyYrw+J5i+T
uVz4HlE/JOx+J3JtPQcrHR1dYnNgxSf6UGePQaMBhJZncspneX8/WCQu5Vgcp/Pi
abuXIH/maKvRnRq3jLjxc/RepF1201eqzoAccM7Qm5DQHlxLvJV+TKjB3UixS4ms
RLV1uYumFUkGzXcWqSh46IMdGsTHCGdjNQhbRb7UcB/ziQb0i05i4n2psn7eFkth
Xw7C7zTp978Qj1U7AiNGwsZrducKxMqd+Q6zEAHckb4AFKVR08sovUTHjX63DOU2
HhBUwgrBOTWQeAL8it6+RxHyDkVaHkjxxKsw944cNYKtWv1ddvYPOcy1v3EsrfNV
Kq5s1zVRIDQOeVbYnECj9JTrVZxE9WgwrFeGdsmSeIq0cv1BC4xeFJktj9aQACU0
gw74ndpuDNOTF7JYRucN/8op10GjyfjgHZUdIOqelgELy+K5AY0EaVFC8AEMALpY
T26LLFvSJOLT3mMbS8wdYXZR0b3Gxb5ABilzytWyIskEya7RBUTcJeG0DnxSEEyu
KAm+DAcXqRhtpNFKnASTJ+Za/Jm4x9T44XJN38GzOeE+9ZbXTKlYYLv6YtUw68Am
96CKKy2me0lsjpfU254d8+mq+i1BUsvoiR5pmKXY2o9+5+0bo2V86lgPB5DQX41+
szJ2Pcyphca8euW4IeZnB3YSRO0H1sKsziRE4JUbTPl4257m+eTQ0guwtKfQlthm
wbbKKZXuAwTafcFUQMWeUVuH4e0Lyk75GVbfiGHN9/SnjA5dZto1zRjnKPVlx2oC
5ncTPOhv6vTpl0o1TWhS3XEklhfwvm/qIN18HcXt8alK4o6OazVD3/ZsQJZYhbKQ
wb5Uj/4HlAwfb5LevvonuUSZHtpXs+ZdmL9tdvV6rq+v3VGyidC9u59z7l0oXPyS
/L6hNzbfaNweL6Xe2k0CNJlFPJGnZW3297EubMIl8kEJGRVhHtYpCbjx6Ns4CwAR
AQABiQG2BBgBCgAgFiEEfOg0hnD+/Di2Iz7AaLoHjqqdzg0FAmlRQvACGwwACgkQ
aLoHjqqdzg2UGQwAoAm6SgCrPYhcz+Pl8J2mSpngaanZbuWxrqgOIoHCRa7RFSBD
3oIhMbWHz6HMjX9aLfMEJHQ5x7vyPmn/uITxwof68OVe6mqyNlmfksIBupjqsuaB
4ML4ZwnN5V9azbSPxt3Rfd+RbTmxxeAJ0mDDeShFOOKFcNtXRR/0XOnHE7geTEnF
RH7SZtmnOb9cu0Ei+6CqUVd78f7Y6+gFHDWDMp14hPb1WFwq1PCBhEngdPx6V8dc
z24ecVIky8hPYODMqJ0wy2QG0lxV8I7THYboOqXNfktQ0mJSMF6+sa9AeWzfim9X
XhXJXH9TTjKXiVbjCcQuzE1GWWBjgFno/XGrP+d6KWdoOODAnW5z/F6KzJflcc7P
rawLlgv55gtqQdnyrnpQhyZ9xnFvPqnHvSlDM8tIW8oI2atyfrIEcHpajf6KFnUA
mX6p0cYwsOdLngr33RyQQWAPOdW0imHgn9Pb87aCzKVcqDBy4LwwDmQ4phsN9bMN
wgBNxpedT+KME6d+
=Jbfs
-----END PGP PUBLIC KEY BLOCK-----
          </pre>
        </div>
      </div>
    </div>
  </section>
</Base>
