<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ctes091x</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="ctes091x's website">
        <meta name="og:title" content="ctes091x">
        <meta name="og:description" content="ctes091x's website">
    </head>
    <body>
        <h1>ctes091x</h1>
        <h2>links</h2>
        <ul>
            <li>Twitter: <a href="https://twitter.com/ctes091x">@ctes091x</a></li>
            <li>GitHub: <a href="https://github.com/ctes091x">@ctes091x</a></li>
            <li>Qiita: <a href="https://qiita.com/users/ctes091x">@ctes091x</a></li>
            <li>Blog: <a href="blogs/">https://ctes091x.net/blog/</a></li>
        </ul>
        <h2>PGP Key</h2>
        <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGgwMR0BEADvVBi2TjMjXiLgQy4z7t3EV2k3tPdlMZVMASQ7cHPXHn4p86Bv
awRLTA+946clqsNF89DUr6Su7gsxZedus75Paw9xktA9Am/JRkmSMPdchOlKgHJ3
6GGy4Pe0YqKohpCtofN+f8NJOxV97lNTaCsqh7zLR8Qn37ncmrmZYTdf2XCieQJl
v/WQeD64SOfQDoHAn4gZWE7b/Px2EENYEoM5nn0w3TIl1xTKF4w0WPBByNDU5a2u
EHTmkF4IOFftphHnlmg2xf9ISoDD+0FsHrWdxV4gXplLIIig1vls+8arpVbT/z+Q
7C6fuM18LaMpq/YmIH6JngU7EQYjcmo/uMLIxHsHRZI2VKn3tijuK3hsNUhapFhg
edwGY1b8D7Ff8Eu01ssj8yZYKVga3lMxhbRMcjVq7RxU8O8+ZTwJU28mqH/dh7x6
nRLrf4FPqy1O6a2uOcrLnLDc8Tcmxvcq5NRl4y8LqK27FgTG3FnkZRUEaBBcTaDs
haPTiiuHr/swEHnZclr0vtNd9n1iWYxSwzRmpjI9gSt3tl2jO+eF2hMopFvj20by
4J9oj/HQiX0/i7fewTUyjYm5OUeq/TdghT97B2sJWY0fsMZsLo9A/Y8bif4t9DHV
LJWAa52/YKpU/uvZcjdWy8LWIeZb4pEbihsEMn7oB1wP5YUHtwycLZnm1QARAQAB
tCZjdGVzMDkxeCA8Y3RlczA5MXhAbW1hLmNsdWIudWVjLmFjLmpwPokCUQQTAQoA
OxYhBO9Yq+cREAXHFD3tld3L3ykhhFsABQJoMDEdAhsDBQsJCAcCAiICBhUKCQgL
AgQWAgMBAh4HAheAAAoJEN3L3ykhhFsAD5wP/3xi1zb0NR8gAnDAI3GVL4yQ3d4T
NQIGEV4/0FdDrkmQzcKUtJRUebs43YCee0l5vVVNl+k/jvTpckcjkHTINUVYgvxG
dUhCFCO5F6lCzdRW1gTZhoeEkcL/0E/fy7/6hJGFvO/GDZb2GtL88kARKzDYObKZ
UFu5LPahCWF264SS0/QVzvJ8Iyz7UkJOHcNG/gfXZmvHkZ9oZ2nVJAkixC7OdoFS
Rl86wFKZyByK7mhH0ZcZrbZ+sdjEbC413ixZWaL2n6uK6jAW831fNh4eF0uj3BA1
VQDTJwTs58n0NuphPrQonnrDjXMt+a6pOQrTlS9IyFBzMDSCfYF/nJl0ardLHkEb
gzL/OaWyg6VZV/V91bIN2pxVoBf2JV6XcHw6mnZihTGe6z/+VXNqqjMk02bedWLN
DHuGxRRPgiSrBRpkU6PaSGf7moYpVRnEBjxuQvNy+XubrW8GbHlihmu0/22FI2Q+
FRpbcjvr8vw+jfV2AZSljgblyWCnP0oVn/sP4jkmxwcKj+hwKId9tdDoLO64cVW6
JkQa/fkScfgKYs1Pf91a6wlkueBoFkM/8G6jEGxOi8dQ/JT8KXlrCyAI/2esZ0p5
qBd2t0wPFt6uggL49pbKKEBd0nK288PZnY1bhc+DC6bY8rRjy6JPDhjo5vd0xjjN
dHTqk9XkRjJap2LruQINBGgwMR0BEAC0EZVI9yjXnDc/8/kOK6e0eNlHSWUyjcu8
vqvgGHBQaTR00x/wmq+dD0GcUnamajGSUJImDTdT1V47+xjwAW2MFkiKMAJKqiJ8
o4/dMhZVE1eOTcZoxWJqC9/o0GhLtuE+kvpkuTHo01Q4yx/VK6kmaaun9Mir2QvH
zHtxNTrOP0jZ328yUX8OFLCBIlTxIUM8uM7fCKmQRyo9/mYem1vVjx5ysREnh+QM
uUNJNDYKXu9S+qNGJmhKMkpWqs+zX9NQAoavdk0hTiZMafjqV/TKeXL2kK8d0l4M
Se+OdEaWxfk4Li6w4CQjKUmNysdEblfzedvtHfsXrF/3mY4n+gH6sgR0SlUxFeRN
8mB+W1VdBi+4DVLUI1zl/YS3aCI439u7pvuZFpC2moFjrp98mezpTwsc6kvEet0n
x2IepKcH0JYA+hQRu8vIQcyDndioYsknKJbIrcH0uNK1JvT9DwSpOi5KDcwjkH+h
6bcaQBF1JdhYERLMENXtcWzKOlLe4Dd1Drr4TfmEkwBT2BdXYxb5FOty75SxORbs
vlmZOIkP1bFfuqydN53eqcHSIWasuIIdHEP8U2hwG+1emOptTZufGQ7/Viufjg94
qV0fpFBGfu9vuGDj5OZlVozRgjQTDko9LD/RDERbbsCPlpcXsqc4+RFK99qZ0Tle
2DOeNLCeGQARAQABiQI2BBgBCgAgFiEE71ir5xEQBccUPe2V3cvfKSGEWwAFAmgw
MR0CGwwACgkQ3cvfKSGEWwCRSxAAqdXxwDRHz5ufLwVo9rNhDyy1Orp1x0JLpxyb
SiR7PgQJTnQueq2i7r+BwYcqXlJPYBS07Frv5bGPFDEz6vflg9LCayqs0hBElHlR
t+B9at0MYO1Oex1SWYxGBYqtuqNQfMqy4kdi7c91BVQCgglv34iWOnbuQN5PoP2E
sunein7oVM59dnHFPP01QJyvfLDOTU0Fj39axgzAkCQ0dxAOd+Vv0fPKUSN6notx
zQJAjmBbWCx+60zt70LTEhij9DAUOsSxQ5bOmv/jnR7uiRUZhBWtVk3Uhu8sMRTq
g6sGf9/oHpY02U65BpdLaWhQeSJ6uOVw6JwiG9KoDfUlTJ31aqbB20lAFo5GiQTK
+xZrbG2RIC56771nmnn8Ytjvc2bTxaGgTpl26sT19SW8LvmwYOiycWiOqhTA13Nw
dVdZtjdwE0T/8kGgWAo0Ob0vwAX0hgtPvi5OK5ATMD9IRcQ2Zl2sw/yhjh5t5KdR
8pcnZR74BHHw0xNuycofgc91N3kA38YcfVvLd0ONETFg1vsk4AEqHDUZGt2mOezd
f9++7IVv542sic9XQGLsgEqLeSyAxvQ+eWVI52hf7q+ZlgsBpyetye+oe0f4g00s
GCH0/24/Z5KNesBdqbaSQV7FIixru4on5r5Zkv/v6R1zs5hiG9+6PEA/K9HhYydK
KASJxa8=
=JKNG
-----END PGP PUBLIC KEY BLOCK-----
        </pre>
        <h2>reciprocal links</h2>
        <ul>
            <li><a href="https://shiori-02-14.github.io/Homepage/">しおり🔖</a></li>
        </ul>
        <p>&copy; ctes091x 2025</p>
    </body>
</html>

