@charset "UTF-8";

.blog-post-card a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  vertical-align: bottom;
}

.blog-post-card img {
  display: block;
  margin-bottom: 0.6em;
}

.blog-post-card div {
  margin: 0 1em;
}

.blog-post-card div span {
  display: block;
  text-align: center;
  word-break: auto-phrase;
  text-wrap: balance;
}

.blog-post-card .pub-date {
  color: var(--color-text-secondary);
}

.blog-post-card a {
  color: var(--color-text);
}

.blog-post-card a:hover {
  text-decoration: none;
}

