---
const { title, url, ogImage, pubDate } = Astro.props;
---

<li class="max-w-sm">
  <a href={url}>
    <img src={ogImage} />
    <div>
      <span class="title">{title}</span>
      <span class="pub-date">{pubDate}</span>
    </div>
  </a>
</li>
