<footer class="border-top mt-3 py-4">
  <div class="container small text-muted">
    <p>
    &copy; <span itemprop="copyrightHolder">ctes091x</span>, 2026 | Built with <a href="https://astro.build" class="link-secondary">Astro</a> and <a href="https://getbootstrap.com/" class="link-secondary">Bootstrap</a>.
    </p>
    <p>
      特に記載のない限り、本サイトの内容は <a href="https://creativecommons.org/licenses/by/4.0/deed.ja" itemprop="license" class="link-secondary">クリエイティブ・コモンズ 表示 4.0</a> の下で提供されています。
    </p>
  </div>
</footer>
