@charset "UTF-8";

.page-header {
  width: 100%;
  margin: 0;
  padding: 0.8rem;
  border-bottom: 1px solid var(--color-secondary);
}

.page-header > div {
  max-width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header a {
  color: var(--color-text);
  text-decoration: none;
  transition: opacity 0.2s;
}

.page-header a:hover {
  opacity: 0.8;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.brand img {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}

.header-nav ul {
  display: flex;
  align-items: center;
}

.header-nav ul li {
  display: inline-block;
  padding: 0.4rem;
}


@media screen and (max-width: 1024px) {
  .page-header > div {
    margin: 0 1em;
  }
}

@media screen and (max-width: 680px) {
  .header-nav {
    display: none;
  }
}
