---
import "./Header.css"
---

<header class="page-header">
  <div>
    <a href="/" class="brand">
      <img src="https://github.com/ctes091x.png" width="40" alt="Icon">
      <span>@ctes091x</span>
    </a>
    <div class="header-nav">
      <ul>
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/#about" class="nav-link">About</a></li>
        <li><a href="/#links" class="nav-link">Links</a></li>
        <li><a href="/blog/" class="nav-link">Blog</a></li>
      </ul>
    </div>
  </div>
</header>
