<header class="navbar navbar-expand-lg border-bottom">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="https://github.com/ctes091x.png" width="40" alt="Icon" class="d-inline-block align-text-center rounded-circle">
      <span class="ms-2">@ctes091x</span>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/#about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/#links" class="nav-link">Links</a></li>
        <li class="nav-item"><a href="/blog/" class="nav-link">Blog</a></li>
      </ul>
    </div>
  </div>
</header>
