---
import Base from "./Base.astro";
const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title} type="blog" ogImage={frontmatter.ogImage}>
  <h1>{frontmatter.title}</h1>
  <slot />
</Base>

